<h1>New Form</h1>

<form method="post" action="/">
    <!-- <p>Id: <input type="number" name="std_id" id=""></p> -->
    <p>Name: <input type="text" name="name" id=""></p>
    <p>Age: <input type="number" name="age" id=""></p>
    <p><input type="submit" name="" id=""></p>
</form>
<a href="/">Back to Home</a>